<div class="content-container">
  <div class="container-fluid">
      <h1 class="title-panel">CARROSSEL</h1>
      <hr>

      <div class="well">
        <ul class="nav nav-tabs">
          {{#link-to 'carrossel.index' tagName="li"}}<a href="">Listar</a>{{/link-to}}
          {{#link-to 'carrossel.new' tagName="li"}}<a href="">Novo</a>{{/link-to}}
        </ul>
      </div>

      {{outlet}}
  </div>
</div>